<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WEATHER DETECTOR</title>
  <meta charset="utf-8">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <body class="container">
