<%- include("header") -%>
<h1>Wanna Know about the weather in your city?</h1>
  <form action="/" method="post">
    <div class="">
      <h2>Enter your city name: <h2>
      <input  type="text" name="cityName" autofocus>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Go</button>
    </form>
</form>
<%- include("footer") -%>
